{% extends "layout.html" %}

{% block title %}
    Your Portfolio
{% endblock %}

{% block main %}

    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Stock</th>
            <th>Shares</th>
            <th>Current Price (each share)</th>
            <th>Total Value (Shares * Curr Price)</th>
        </tr>
        </thead>
        
        {% set i = 0 %}
        
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock["stock"] }}</td>
                <td>{{ stock["quantities"] }}</td>
                <td>${{ currentprices[i] }}</td>
                <td>${{ stock["quantities"] * currentprices[i] }}</td>
            </tr>
            {% set i = i + 1 %}
        {% endfor %}
        </tbody>
    </table>
    
    
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Your Current Cash Balance</th>
                    <th>Grand Total (total value + your current cash balance)</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    {% set totalvalue = 0 %}
                    {% set i = 0 %}
                
                    {% for cash in cash %}
                        <td>${{ cash["cash"] | round(2) }}</td>
                        {% for stock in stocks %}
                            {% set totalvalue = totalvalue + (stock["quantities"] * currentprices[i]) %}
                            {% set i = i + 1 %}
                        {% endfor %}
                    {% endfor %}
                
                    <td>${{ grandtotal | round(2) }}</td>
                </tr>
            </tbody>
        </table>
        
{% endblock %}